:root {
  /* COLORS */
  --main-color: #d8a53f;
  --green: #4b7772;
  --blue: #099de1;
  --white: #fff;
  --light: #edeaea;
  --dark: #373432;
  --dark-light: #4d4d4d;
}

* {
  font-family: "Cairo", sans-serif;
}

body {
  margin: 0 25px;
}

@media (max-width: 600px) {
  body {
    margin: 0;
  }
}

/* =====================  SECTIONS CONTROLS  ===================== */
.sections-controls {
  position: fixed;
  right: 7px;
  top: 50%;
}

.sections-controls a {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--dark);
  display: block;
  transition: 0.3s ease-in;
}

.sections-controls a.active {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid var(--dark-light);
}

@media (max-width: 600px) {
  .sections-controls {
    display: none !important;
  }
}

/* =====================  SOCIAL MEDIA SIDE  ===================== */
.social__media__side {
  position: fixed;
  top: 50%;
  left: 5px;
}

.social__media__side a i.fa-twitter {
  color: var(--blue);
}

.social__media__side a i.fa-youtube {
  color: rgb(255, 35, 35);
}

@media (max-width: 600px) {
  .social__media__side {
    display: none !important;
  }
}

/* =====================  GO TO TOP BUTTON  ===================== */
.go__to__top {
  text-decoration: none;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 30;
  cursor: pointer;
  width: 100%;
  background-color: var(--white);
  font-weight: bold;
  color: var(--dark);
  padding: 5px;
  border-top: 1px solid #4d4d4d42;
}

.go__to__top:hover {
  color: var(--dark);
}

.go__to__top span {
  color: var(--main-color);
}

/* =====================  POP UP WINDOW  ===================== */
.pop__up__window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 3000;
  display: none;
}

.pop__up-content {
  max-width: 900px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pop__up-content img {
  border-radius: 5px;
  transform-style: preserve-3d;
}

.pop__up-close {
  position: absolute;
  right: 0;
  top: -70px;
  cursor: pointer;
  font-size: 30px;
  color: rgb(233, 47, 47);
  transition: 0.5s ease-in-out;
}

.pop__up-close:hover {
  opacity: 0.6;
}

@media (max-width: 768px) {
  .pop__up-close {
    position: absolute;
    right: 15px;
    top: -70px;
    font-size: 25px;
    transition: 0.5s ease-in-out;
  }

  .pop__up-content {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* =====================  HEADER  =====================*/
.header__logo {
  width: 300px;
}

.bottom__header {
  background-color: var(--main-color) !important;
  padding: 15px;
}

.bottom__header li {
  cursor: pointer;
  color: var(--white);
}

.bottom__header li:not(:last-child) {
  position: relative;
}

.bottom__header .navbar-nav > li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  left: -53px;
  background-color: var(--white);
  width: 2px;
  height: 100%;
}

.bottom__header .navbar-nav > li > a {
  color: var(--white) !important;
  display: block;
  text-align: center;
  transition: 0.3s ease-in-out;
  font-weight: bold;
}

.bottom__header .nav-item:hover .dropdown-menu {
  display: block;
  text-align: initial;
}

.bottom__header .nav-item:hover .dropdown-menu a {
  transition: 0.3s ease-in-out;
}

.bottom__header .nav-item:hover .dropdown-menu a:hover {
  color: var(--white);
  background-color: var(--main-color);
}

.bottom__header .nav-item:hover .dropdown-menu a:hover i {
  transform: rotateX(10deg);
}

@media (min-width: 992px) {
  .bottom__header .navbar-collapse {
    display: block !important;
  }
}

@media (max-width: 1396px) {
  .bottom__header .navbar-nav > li:not(:last-child)::after {
    left: -30px;
  }
}

@media (max-width: 1024px) {
  .bottom__header .navbar-nav > li:not(:last-child)::after {
    left: -13px;
  }
}

@media (max-width: 992px) {
  .bottom__header .navbar-collapse {
    margin-top: 30px;
  }

  .bottom__header li:not(:last-child)::after {
    display: none;
    position: initial;
  }
}

@media (min-width: 975px) {
  .bottom__header li .dropdown-menu {
    left: 50%;
    transform: translateX(-50%);
  }
}

/* =====================  SLIDER  ===================== */
.carousel-inner {
  max-height: 500px;
}

.carousel-inner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.carousel-inner .slider-text {
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  color: var(--white);
}

.carousel-inner .slider-text::after {
  content: "";
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 100%;
  background-color: var(--white);
}

@media (max-width: 991px) {
  .carousel-inner .slider-text {
    top: 200px;
    font-size: 14px;
  }

  .carousel-inner .slider-text::after {
    width: 3px;
  }
}

@media (max-width: 600px) {
  .carousel-inner .slider-text {
    top: 150px;
    font-size: 12px;
  }

  .carousel-inner .slider-text::after {
    width: 2px;
  }
}

@media (max-width: 600px) {
  .carousel-inner .slider-text {
    top: 100px;
  }
}

@media (max-width: 320px) {
  .carousel-inner .slider-text {
    top: 70px;
    font-size: 10px;
  }
}

/* =====================  SUMMARY  ===================== */
.summary {
  background-color: var(--light);
}

.summary__icon {
  max-width: 120px;
  margin: 0 auto;
}

/* =====================  ELECTRONIC SERVICES  ===================== */
.select-services {
  background-color: var(--green);
  padding: 20px;
  height: 400px;
}

.select-services select {
  width: 100%;
  appearance: none;
  padding: 10px;
  outline: none;
  border: none;
}

.select-services select::-ms-expand {
  display: none;
}

.select-services-item {
  position: relative;
}

.select-services-item img {
  width: 42px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

.electronic__services-slider {
  width: 100%;
  height: 400px;
}

.swiper-slide {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px 15px 10px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: initial;
  color: var(--dark);
  font-weight: bold;
}

.electronic__services-icon {
  max-width: 150px;
  margin: 0 auto;
}

.electronic__services-desc {
  margin-top: 70px;
}

.electronic__services-desc h4 {
  font-size: 14px;
  font-weight: bold;
  color: var(--dark-light);
}

.electronic__services-desc p {
  font-size: 12px;
  letter-spacing: 0.5px;
  color: var(--dark-light);
}

@media (max-width: 500px) {
  .swiper-button-next:after,
  .swiper-button-prev:after,
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

/* =====================  APPS  ===================== */
.apps-slider {
  height: 270px;
}

.apps .swiper-slide {
  cursor: pointer;
  border: none;
  border-radius: 0;
  padding: 0;
}

.apps .swiper-slide .flip-card {
  transition: 0.7s ease-in-out;
  transform-style: preserve-3d;
  height: 100%;
}

.apps .swiper-slide:hover .flip-card {
  transform: rotateY(180deg);
}

.apps .swiper-slide .back {
  transform: rotateY(180deg);
}

.apps .swiper-slide .back,
.apps .swiper-slide .front {
  position: absolute;
  width: 100%;
  height: 100%;
}

.apps .swiper-slide .front,
.apps .swiper-slide .back {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px 15px 10px;
  background-color: var(--white);
}

.apps .swiper-slide .back .store-icon {
  max-width: 140px;
  margin: 0 auto;
  display: block;
}

.apps-icon {
  margin: 0 auto 40px;
  width: 150px;
  height: 150px;
}

.apps-icon img {
  border-radius: 50%;
  border: 2px solid var(--main-color);
  width: 170px;
  height: 170px;
  margin: 0 auto;
}

.apps-title {
  font-size: 18px;
  font-weight: bold;
}

/* =====================  MEDIA CENTER - news  ===================== */
.media__center-gallery .gallery__list li {
  background-color: var(--green);
  color: var(--white);
  width: calc(100% / 4);
  text-align: center;
  padding: 25px 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  position: relative;
  user-select: none;
}

.media__center-gallery .gallery__list li.active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 20px;
  border-style: solid;
  border-color: transparent transparent var(--white) transparent;
  transition: 0.3s ease-in-out;
}

.media__center-gallery .gallery__list li:hover {
  background-color: var(--light);
  color: var(--green);
}

@media (max-width: 1300px) {
  .media__center-gallery .gallery__list li:hover {
    background-color: var(--green);
    color: var(--light);
  }

  .media__center-gallery .gallery__list li:hover::after {
    border-color: transparent transparent var(--light) transparent;
  }
}

@media (max-width: 600px) {
  .media__center-gallery .gallery__list li {
    font-size: 12px;
  }

  .media__center-gallery .gallery__list li.active::after {
    border-width: 10px;
  }
}

@media (max-width: 450px) {
  .media__center-gallery .gallery__list li {
    font-size: 12px;
  }
}

@media (max-width: 376px) {
  .media__center-gallery .gallery__list {
    flex-direction: column;
  }

  .media__center-gallery .gallery__list li {
    font-size: 10px;
    width: 100%;
  }

  .media__center-gallery .gallery__list li:not(:last-child) {
    border-bottom: 1px solid var(--light);
  }
}

.gallery__items-item {
  display: none;
}

.gallery__items-item.active {
  display: block;
}

.media__center-gallery .news .card,
.media__center-gallery .events .card {
  position: relative;
  border: none !important;
  background-color: var(--light);
}

.media__center-gallery .news .card-badge,
.media__center-gallery .events .card-badge {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  padding: 20px 14px;
  color: var(--white);
  background-color: #2ebdffa9;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
}

.media__center-gallery .news .card-title,
.media__center-gallery .events .card-title,
.media__center-gallery .hajj-magazine .card-title {
  color: var(--main-color);
  font-size: 18px;
}

.media__center-gallery .news .card-date-location,
.media__center-gallery .events .card-date-location {
  font-size: 13px;
  color: var(--dark-light);
}

.media__center-gallery .news .card-text,
.media__center-gallery .events .card-text,
.media__center-gallery .hajj-magazine .card-text {
  color: var(--dark-light);
  font-size: 15px;
}

.media__center-gallery .news .card-link,
.media__center-gallery .events .card-link,
.media__center-gallery .hajj-magazine .card-link {
  text-decoration: none;
  color: var(--green);
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.media__center-gallery .news .card-link:hover,
.media__center-gallery .events .card-link:hover,
.media__center-gallery .hajj-magazine .card-link:hover {
  opacity: 0.7;
}

.media__center-gallery .news .card-link i:first-child,
.media__center-gallery .events .card-link i:first-child,
.media__center-gallery .hajj-magazine .card-link i:first-child {
  margin: -7px;
}

/* =====================  MEDIA CENTER - events  ===================== */
.media__center-gallery .events .card {
  height: 485px;
}

.media__center-gallery .events .card-title,
.media__center-gallery .hajj-magazine .card-title {
  font-weight: bold;
}

/* =====================  MEDIA CENTER - hajj-magazine  ===================== */
.media__center-gallery .hajj-magazine .animation-top-parent {
  max-height: 400px;
}

.media__center-gallery .hajj-magazine .animation-top {
  bottom: -164px;
}

@media (max-width: 1381px) {
  .media__center-gallery .hajj-magazine .animation-top {
    bottom: -188px;
  }
}

@media (max-width: 1024px) {
  .media__center-gallery .hajj-magazine .animation-top {
    bottom: -163px;
  }
}

@media (max-width: 768px) {
  .media__center-gallery .hajj-magazine .animation-top {
    bottom: -142px;
  }
}

/* =====================  MEDIA CENTER - media-library  ===================== */
.media__center-gallery .media-library .animation-top-parent {
  height: 300px;
}

.media__center-gallery .media-library .card-title {
  font-size: 18px;
}

/* =====================  AWARENESS CENTER  ===================== */

.awareness__center .swiper-slide {
  height: 282px;
}
.awareness__center-title {
  position: absolute;
  right: 4px;
  top: 4px;
  font-weight: bold;
  background: #fff;
  padding: 10px 10px 10px 20px;
  border-radius: 0 0 0 23px;
  z-index: 2;
  font-size: 14px;
}

.awareness__center-title:hover a {
  color: var(--blue);
}

.awareness__center-title a {
  text-decoration: none;
  color: var(--main-color);
  transition: 0.4s ease-in-out;
}

.awareness__center-img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.awareness__center-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.awareness__center-img:hover img {
  filter: grayscale(100%);
}

/* =====================  PARTNERS  ===================== */
.partners {
  margin-bottom: 250px;
}

.partners-icon {
  border: 3px solid var(--main-color);
  margin: 0 auto;
  text-align: center;
}

.partners-icon img {
  width: 70%;
}

/* =====================  FOOTER  ===================== */
footer {
  background-color: var(--dark);
  color: var(--light);
  position: relative;
  padding: 20px 0;
  bottom: 35px;
}

.footer-top {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  background-color: var(--dark);
  width: max-content;
  padding: 5px 40px;
}

.footer-top a {
  color: var(--light);
  transition: 0.3s ease-in-out;
  font-size: 16px;
}

.footer-top a:hover {
  color: var(--main-color);
}

.footer-bottom {
  border-top: 2px solid var(--light);
  padding-top: 30px;
}

/* =====================  GLOBAL  ===================== */
/* MY TITLES */
.section__title {
  color: var(--green);
  font-weight: bold;
  font-size: 28px;
  border-bottom: 4px solid var(--main-color);
  padding-bottom: 13px;
  margin-bottom: 40px;
}

/* MY ANIMATIONS */
.animation-top-parent {
  position: relative;
  overflow: hidden;
  height: 485px;
}

.animation-top-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.animation-top {
  bottom: -174px;
  position: absolute;
  background-color: #edeaeaed;
  transition: 0.4s ease-in-out;
  width: 100%;
}

.animation-top-parent:hover .animation-top {
  bottom: 0;
}

@media (max-width: 1420px) {
  .animation-top {
    bottom: -195px;
  }
}

@media (max-width: 1199px) {
  .animation-top {
    bottom: -174px;
  }
}

@media (max-width: 991px) {
  .animation-top {
    bottom: -153px;
  }
}

@media (max-width: 767px) {
  .animation-top {
    bottom: -125px;
  }
}

@media (max-width: 426px) {
  .animation-top {
    bottom: -146px;
  }
}

@media (max-width: 320px) {
  .animation-top {
    bottom: -176px;
  }
}

@media (max-width: 280px) {
  .animation-top {
    bottom: -193px;
  }
}

/* MY BUTTONS */
.btn-green {
  max-width: 120px;
  margin-right: 12px;
  margin-left: 12px;
  background-color: var(--light);
  color: var(--green);
  font-weight: bold;
}

.btn-green:hover {
  background-color: var(--green);
  color: var(--light);
}
