:root {
  /* COLORS */
  --main-color: #d8a53f;
  --green: #4b7772;
  --blue: #099de1;
  --white: #fff;
  --light: #edeaea;
  --dark: #373432;
  --dark-light: #4d4d4d;
}

* {
  font-family: "Cairo", sans-serif;
}

body {
  margin: 0 25px;
}

@media (max-width: 600px) {
  body {
    margin: 0;
  }
}

/* =====================  SECTIONS CONTROLS  ===================== */
.sections-controls {
  position: fixed;
  right: 7px;
  top: 50%;
}

.sections-controls a {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--dark);
  display: block;
  transition: 0.3s ease-in;
}

.sections-controls a.active {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid var(--dark-light);
}

@media (max-width: 600px) {
  .sections-controls {
    display: none !important;
  }
}

/* =====================  SOCIAL MEDIA SIDE  ===================== */
.social__media__side {
  position: fixed;
  top: 50%;
  left: 5px;
}

.social__media__side a i.fa-twitter {
  color: var(--blue);
}

.social__media__side a i.fa-youtube {
  color: rgb(255, 35, 35);
}

@media (max-width: 600px) {
  .social__media__side {
    display: none !important;
  }
}

/* =====================  GO TO TOP BUTTON  ===================== */
.go__to__top {
  text-decoration: none;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 30;
  cursor: pointer;
  width: 100%;
  background-color: var(--white);
  font-weight: bold;
  color: var(--dark);
  padding: 5px;
  border-top: 1px solid #4d4d4d42;
}

.go__to__top:hover {
  color: var(--dark);
}

.go__to__top span {
  color: var(--main-color);
}

/* =====================  POP UP WINDOW  ===================== */
.pop__up__window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 3000;
  display: none;
}

.pop__up-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  height: 100vh;
}

.pop__up-content .pop__up-img {
  margin-top: 127px;
}

.pop__up-content .pop__up-img img {
  border-radius: 5px;
  transform-style: preserve-3d;
  max-width: 600px;
}

.pop__up-close {
  position: absolute;
  right: 0;
  top: 40px;
  z-index: 20;
  cursor: pointer;
  font-size: 30px;
  color: rgb(233, 47, 47);
  transition: 0.5s ease-in-out;
}

.pop__up-close:hover {
  opacity: 0.6;
}

.pop__up__window .all-images {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  margin-top: 20px;
  padding: 0 15px;
  left: 50%;
  transform: translateX(-50%);
}

.pop__up__window .all-images img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.pop__up__window .all-images img.active,
.pop__up__window .all-images img:hover {
  filter: brightness(40%);
  transform: scale(0.8);
}

@media (max-width: 768px) {
  .pop__up-close {
    position: absolute;
    right: 15px;
    font-size: 25px;
    transition: 0.5s ease-in-out;
  }

  .pop__up-content {
    width: 70%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .pop__up-content .pop__up-img img {
    max-width: 700px;
  }

  .pop__up__window .all-images img {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 600px) {
  .pop__up__window .all-images img {
    width: 50px;
    height: 50px;
  }
}

/* =====================  HEADER  =====================*/
.header__logo {
  width: 300px;
}

.top__header ul li {
  cursor: pointer;
  transition: 0.4s ease-in-out;
  font-size: 20px;
  color: var(--dark);
}

.top__header ul li:hover {
  color: var(--main-color);
}

.bottom__header {
  background-color: var(--main-color) !important;
  padding: 15px;
}

.bottom__header li {
  cursor: pointer;
  color: var(--white);
}

.bottom__header li:not(:last-child) {
  position: relative;
}

.bottom__header .navbar-nav > li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  left: -53px;
  background-color: var(--white);
  width: 2px;
  height: 100%;
}

.bottom__header .navbar-nav > li > a {
  color: var(--white) !important;
  display: block;
  text-align: center;
  transition: 0.3s ease-in-out;
  font-weight: bold;
}

.bottom__header .nav-item:hover .dropdown-menu {
  display: block;
  text-align: initial;
}

.bottom__header .nav-item:hover .dropdown-menu a {
  transition: 0.3s ease-in-out;
}

.bottom__header .nav-item:hover .dropdown-menu a:hover {
  color: var(--white);
  background-color: var(--main-color);
}

.bottom__header .nav-item:hover .dropdown-menu a:hover i {
  transform: rotateX(10deg);
}

@media (min-width: 992px) {
  .bottom__header .navbar-collapse {
    display: block !important;
  }
}

@media (max-width: 1396px) {
  .bottom__header .navbar-nav > li:not(:last-child)::after {
    left: -30px;
  }
}

@media (max-width: 1024px) {
  .bottom__header .navbar-nav > li:not(:last-child)::after {
    left: -13px;
  }
}

@media (max-width: 992px) {
  .bottom__header .navbar-collapse {
    margin-top: 30px;
  }

  .bottom__header li:not(:last-child)::after {
    display: none;
    position: initial;
  }
}

@media (min-width: 975px) {
  .bottom__header li .dropdown-menu {
    left: 50%;
    transform: translateX(-50%);
  }
}

/* =====================  BREADCRUMB  ===================== */
nav.breadcrumb {
  background-color: var(--green);
  margin-bottom: 0;
}

nav.breadcrumb a {
  text-decoration: none;
  color: var(--light);
  font-weight: bold;
  font-size: 14px;
}

nav.breadcrumb a:hover {
  text-decoration: underline;
}

nav.breadcrumb i {
  color: var(--light);
  font-size: 12px;
}

/* =====================  SLIDER  ===================== */
.carousel-inner {
  max-height: 500px;
}

.news-slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

.news-slider .slider-text {
  color: var(--white);
  font-size: 20px;
  display: none;
}

.news-slider .slider-text.active {
  display: block;
}

.news-slider .slider-text a {
  text-decoration: none;
  color: var(--main-color);
  font-weight: bold;
}

.news-slider .slider-text::after {
  content: "";
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 100%;
  background-color: var(--white);
}

.carousel-inner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.control-prev-icon,
.control-next-icon {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
}

.carousel-control-next,
.carousel-control-prev {
  opacity: 0.7;
}

.carousel-control-next-icon {
  background-image: url("../images/arrow_right.svg");
}

.carousel-control-prev-icon {
  background-image: url("../images/arrow_left.svg");
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 2.3rem;
  height: 2.3rem;
}

.slider-img {
  transition: 1s ease-in-out;
  transform-origin: center;
  animation-name: zoomIn;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

@media (max-width: 991px) {
  .carousel-inner .slider-text {
    top: 200px;
    font-size: 14px;
  }

  .carousel-inner .slider-text::after {
    width: 3px;
  }
}

@media (max-width: 600px) {
  .news-slider .slider-text {
    font-size: 10px;
  }

  .news-slider .slider-text::after {
    width: 2px;
  }

  .control-next-icon,
  .control-prev-icon {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    width: 1.3rem;
    height: 1.3rem;
  }
}

@media (max-width: 320px) {
  .carousel-inner .slider-text {
    top: 70px;
    font-size: 10px;
  }
}

/* =====================  SUMMARY  ===================== */
.summary {
  background-color: var(--light);
}

.summery-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.summary__icon {
  max-width: 120px;
  margin: 0 auto;
}

/* =====================  ELECTRONIC SERVICES  ===================== */

.select-services {
  background-color: var(--green);
  padding: 20px;
  height: 400px;
}

.select-services select {
  width: 100%;
  appearance: none;
  padding: 10px;
  outline: none;
  border: none;
  cursor: pointer;
}

.select-services select::-ms-expand {
  display: none;
}

.select-services-item {
  position: relative;
}

.select-services-item img {
  width: 42px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  cursor: pointer;
  pointer-events: none;
}

.electronic__services-slider {
  width: 100%;
  height: 400px;
}

.swiper-slide {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px 15px 10px;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  background: #d8a53fb3;
  z-index: 20;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: initial;
  color: var(--dark);
  font-weight: bold;
}

.electronic__services-icon {
  max-width: 150px;
  margin: 0 auto;
}

.electronic__services-desc {
  margin-top: 70px;
}

.electronic__services-desc h4 {
  font-size: 14px;
  font-weight: bold;
  color: var(--dark-light);
}

.electronic__services-desc p {
  font-size: 12px;
  letter-spacing: 0.5px;
  color: var(--dark-light);
}

.swiper-slide-bg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 110px;
  z-index: -1;
}

@media (max-width: 500px) {
  .swiper-button-next:after,
  .swiper-button-prev:after,
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

/* =====================  APPS  ===================== */
.apps-slider {
  height: 270px;
}

.apps .swiper-slide {
  cursor: pointer;
  border: none;
  border-radius: 0;
  padding: 0;
  position: relative;
}

.apps .swiper-slide .flip-card {
  transition: 0.7s ease-in-out;
  transform-style: preserve-3d;
  height: 100%;
}

.apps .swiper-slide:hover .flip-card {
  transform: rotateY(180deg);
}

.apps .swiper-slide .back {
  transform: rotateY(180deg);
}

.apps .swiper-slide .back,
.apps .swiper-slide .front {
  position: absolute;
  width: 100%;
  height: 100%;
}

.apps .swiper-slide .front,
.apps .swiper-slide .back {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px 15px 10px;
  background-color: var(--white);
}

.apps .swiper-slide .back .store-icon {
  max-width: 140px;
  margin: 0 auto;
  display: block;
}

.apps-icon {
  margin: 0 auto 40px;
  width: 150px;
  height: 150px;
}

.apps-icon img {
  border-radius: 50%;
  border: 2px solid var(--main-color);
  width: 170px;
  height: 170px;
  margin: 0 auto;
}

.apps-title {
  font-size: 18px;
  font-weight: bold;
}

/* =====================  MEDIA CENTER - news  ===================== */
.media__center-gallery .gallery__list li {
  background-color: var(--green);
  color: var(--white);
  width: calc(100% / 4);
  text-align: center;
  padding: 25px 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  position: relative;
  user-select: none;
}

.media__center-gallery .gallery__list li.active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 20px;
  border-style: solid;
  border-color: transparent transparent var(--white) transparent;
  transition: 0.3s ease-in-out;
}

.media__center-gallery .gallery__list li:hover {
  background-color: var(--light);
  color: var(--green);
}

@media (max-width: 1300px) {
  .media__center-gallery .gallery__list li:hover {
    background-color: var(--green);
    color: var(--light);
  }

  .media__center-gallery .gallery__list li:hover::after {
    border-color: transparent transparent var(--light) transparent;
  }
}

@media (max-width: 600px) {
  .media__center-gallery .gallery__list li {
    font-size: 12px;
  }

  .media__center-gallery .gallery__list li.active::after {
    border-width: 10px;
  }
}

@media (max-width: 450px) {
  .media__center-gallery .gallery__list li {
    font-size: 10px;
  }
}

@media (max-width: 376px) {
  .media__center-gallery .gallery__list {
    flex-direction: column;
  }

  .media__center-gallery .gallery__list li {
    width: 100%;
  }

  .media__center-gallery .gallery__list li:not(:last-child) {
    border-bottom: 1px solid var(--light);
  }
}

.gallery__items-item {
  display: none;
}

.gallery__items-item.active {
  display: block;
}

.media__center-gallery .news .card,
.media__center-gallery .events .card {
  position: relative;
  border: none !important;
  background-color: var(--light);
}

.media__center-gallery .news .card-badge,
.media__center-gallery .events .card-badge {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  padding: 20px 14px;
  color: var(--white);
  background-color: #2ebdffa9;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
}

.media__center-gallery .news .card-title,
.media__center-gallery .events .card-title,
.media__center-gallery .hajj-magazine .card-title {
  color: var(--main-color);
  font-size: 18px;
}

.media__center-gallery .news .card-date-location,
.media__center-gallery .events .card-date-location {
  font-size: 13px;
  color: var(--dark-light);
}

.media__center-gallery .news .card-text,
.media__center-gallery .events .card-text,
.media__center-gallery .hajj-magazine .card-text {
  color: var(--dark-light);
  font-size: 15px;
}

.media__center-gallery .news .card-link,
.media__center-gallery .events .card-link,
.media__center-gallery .hajj-magazine .card-link {
  text-decoration: none;
  color: var(--green);
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.media__center-gallery .news .card-link:hover,
.media__center-gallery .events .card-link:hover,
.media__center-gallery .hajj-magazine .card-link:hover {
  opacity: 0.7;
}

.media__center-gallery .news .card-link i:first-child,
.media__center-gallery .events .card-link i:first-child,
.media__center-gallery .hajj-magazine .card-link i:first-child {
  margin: -7px;
}

/* =====================  MEDIA CENTER - events  ===================== */
.media__center-gallery .events .card {
  height: 485px;
}

.media__center-gallery .events .card-title,
.media__center-gallery .hajj-magazine .card-title {
  font-weight: bold;
}

/* =====================  MEDIA CENTER - hajj-magazine  ===================== */
.media__center-gallery .hajj-magazine .animation-top-parent {
  max-height: 400px;
}

.media__center-gallery .hajj-magazine .animation-top {
  bottom: -164px;
}

@media (max-width: 1381px) {
  .media__center-gallery .hajj-magazine .animation-top {
    bottom: -188px;
  }
}

@media (max-width: 1024px) {
  .media__center-gallery .hajj-magazine .animation-top {
    bottom: -163px;
  }
}

@media (max-width: 768px) {
  .media__center-gallery .hajj-magazine .animation-top {
    bottom: -142px;
  }
}

/* =====================  MEDIA CENTER - media-library  ===================== */
.media__center-gallery .media-library .animation-top-parent {
  height: 300px;
}

.media__center-gallery .media-library .card-title {
  font-size: 18px;
}

/* =====================  AWARENESS CENTER  ===================== */

.awareness__center .swiper-slide {
  height: 500px;
}

.awareness__center-title {
  position: absolute;
  right: 4px;
  top: 4px;
  font-weight: bold;
  background: #fff;
  padding: 10px 10px 10px 20px;
  border-radius: 0 0 0 23px;
  z-index: 2;
  font-size: 14px;
  line-height: 1.5;
}

.awareness__center-title:hover a {
  color: var(--blue);
}

.awareness__center-title a {
  text-decoration: none;
  color: var(--main-color);
  transition: 0.4s ease-in-out;
}

.awareness__center-img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.awareness__center-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.awareness__center-img:hover img {
  filter: grayscale(100%);
}

/* =====================  INITIATIVES  ===================== */
.initiatives-slider .swiper-slide {
  height: 215px;
}
.initiatives-img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 110px;
  z-index: -1;
}

/* =====================  PARTNERS  ===================== */
.partners {
  margin-bottom: 250px;
}

.partners-icon {
  border: 3px solid var(--main-color);
  margin: 0 auto;
  text-align: center;
}

.partners-icon img {
  width: 70%;
}

/* ===================== INTERNAL PAGE ===>  MINISTRY VISION OPERATIONS  ===================== */
.ministry__vision-operation {
  background-color: var(--green);
  border-top: 1px solid var(--light);
  padding: 10px 0;
}

.ministry__vision-operation-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.ministry__vision-operation-content a,
.ministry__vision-operation-content span {
  cursor: pointer;
}

.ministry__vision-operation-content i {
  cursor: pointer;
  font-size: 25px;
  padding: 10px;
  color: var(--light);
}

.share__icon {
  position: relative;
}

.share__socialList {
  position: absolute;
  background-color: var(--light);
  border: 1px solid #3734328e;
  padding: 5px 8px !important;
  display: none;
  align-items: center;
  left: -264%;
  transform: translateX(-50%);
  border-radius: 10px;
}

.share__socialList.active {
  display: flex;
}

.share__socialList i {
  padding: 10px 15px;
  border-radius: 10px;
  margin: 0 5px;
  transition: 0.4s ease-in;
}

.share__socialList i:hover {
  transform: scale(0.8);
}

.share__socialList i.fa-twitter {
  background-color: rgb(148, 177, 255);
}

.share__socialList i.fa-facebook-f {
  background-color: rgb(71, 116, 240);
}

.share__socialList i.fa-link {
  background-color: rgb(129, 135, 209);
}

.share__socialList i.fa-linkedin-in {
  background-color: rgb(4, 21, 68);
}

.share__socialList::after {
  content: "";
  position: absolute;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent var(--light) transparent;
  left: 50%;
  transform: translateX(-50%);
  top: -16px;
}

@media print {
  body * {
    visibility: hidden;
  }

  .ministry__vision {
    position: absolute;
    top: 0;
    left: 0;
  }

  .ministry__vision,
  .ministry__vision * {
    visibility: visible;
  }
}

/* ===================== INTERNAL PAGE ===>  MINISTRY VISION  ===================== */
.ministry__vision {
  padding: 100px 0;
}

.ministry__vision__left-content h3 {
  font-size: 1.13rem;
  color: var(--main-color);
  font-weight: bold;
}

.ministry__vision__left-content p {
  font-size: 0.9rem;
  line-height: 1.5;
}

.ministry__vision__left-content ul li {
  position: relative;
  line-height: 2;
  font-size: 0.9rem;
}

.ministry__vision__left-content ul li::after {
  content: "";
  position: absolute;
  right: -16px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--main-color);
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.ministry__vision__bottom {
  background-color: var(--light);
  padding: 10px 15px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  justify-content: space-between;
  gap: 20px 0;
}

@media (max-width: 767px) {
}

.ministry__vision__bottom i.fa-clock {
  font-size: 12px;
  margin-left: 10px;
}

.ministry__vision__bottom i,
.ministry__vision__bottom i::after,
.ministry__vision__bottom i::before {
  height: 15px;
  width: 10px;
  line-height: 15px;
  text-align: center;
}

.ministry__vision__bottom .rating__bar {
  display: flex;
  align-items: center;
}

.ministry__vision__bottom .rating__bar input {
  position: relative;
  width: 20px;
  height: 40px;
  cursor: pointer;
  --webkit--appearance: none;
  appearance: none;
  margin: 0 10px;
}

.ministry__vision__bottom .rating__bar input::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f005";
  position: absolute;
  font-size: 22px;
  transition: 0.4s ease-in-out;
  color: var(--dark-light);
}

.ministry__vision__bottom .rating__bar input:hover ~ input::before,
.ministry__vision__bottom .rating__bar input:hover::before,
.ministry__vision__bottom .rating__bar input:checked ~ input::before,
.ministry__vision__bottom .rating__bar input:checked::before {
  color: var(--main-color);
}

.ministry__vision__bottom span {
  font-size: 14px;
}

.ministry__vision__bottom ul a {
  color: var(--light);
  background-color: var(--green);
  padding: 8px 11px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  transition: 0.4s ease-in-out;
}

.ministry__vision__bottom ul a:hover {
  color: var(--green);
  background-color: var(--white);
}

@media (min-width: 1004px) {
  .ministry__vision__bottom .share__in {
    margin: 0 auto;
  }
}

/* ===================== INTERNAL PAGE ===>  ELECTRONIC SERVICES DETAILS  ===================== */
.business-individuals__services-list {
  font-weight: bold;
}

.electronic__services-details .services-list-item {
  cursor: pointer;
}

.electronic__services-details .services-list-item.active,
.electronic__services-details .services-list-item:hover {
  color: var(--main-color);
}

.electronic__services-details .business-services,
.electronic__services-details .individuals-services {
  display: none !important;
}

.electronic__services-details .business-services.active,
.electronic__services-details .individuals-services.active {
  display: block !important;
}

.business-services .all-business__services,
.individuals-services .all-individuals__services {
  display: none !important;
}

.business-services .all-business__services.active,
.individuals-services .all-individuals__services.active {
  display: block !important;
}

.electronic__services-details .card {
  position: relative;
  overflow: hidden;
}

.electronic__services-details .card:hover .card-hover {
  display: flex;
}

.electronic__services-details .card-img {
  margin: 0 auto;
  width: 200px;
}

.electronic__services-details .card-title {
  font-size: 15px;
}

.electronic__services-details .card-hover {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation-fill-mode: backwards;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  display: none;
}

.electronic__services-details .card-hover p {
  font-size: 12px;
}

.electronic__services-details .card-hover a {
  text-decoration: none;
  background-color: var(--main-color);
  color: var(--white);
}

@media (max-width: 600px) {
  .business__services {
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  .business__services li {
    width: 100%;
    text-align: center;
  }
}

/* ===================== INTERNAL PAGE ===>  APPS DETAILS  ===================== */
.apps-details .app-img {
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.apps-details .app-img img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 5px solid var(--main-color);
}

@media (max-width: 600px) {
  .apps-details .app-img {
    width: 230px;
    height: 230px;
  }

  .apps-details .app-img img {
    width: 230px;
    height: 230px;
  }
}

.apps-details .card-title {
  color: var(--dark-light);
  position: relative;
}

.apps-details .card-title::after {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  bottom: -8px;
  width: 60%;
  height: 2px;
  background-color: var(--main-color);
  border-radius: 50%;
}

.apps-details .apps-store {
  border-top: 1px solid rgb(235, 235, 235);
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
  align-items: center;
}

.apps-details .apps-store .store-item {
  max-width: 150px;
}

/* ===================== INTERNAL PAGE ===>  NEWS DETAILS  ===================== */
.news-details img,
.activities__events-details img {
  height: 100%;
  object-fit: cover;
}

.news-details a.btn,
.activities__events-details a.btn {
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 600px) {
  .news-details a.btn,
  .activities__events-details a.btn {
    max-width: 100%;
    display: block;
  }
}

/* ===================== INTERNAL PAGE ===> HAJ MAGAZINE DETAILS  ===================== */
.haj__magazine-details .card,
.media__library-details .card {
  height: 270px;
}

.haj__magazine-details .card-title,
.media__library-details .card-title {
  color: var(--main-color);
  font-size: 18px;
}

/* ===================== INTERNAL PAGE ===> AWARENEES CENTER SINGLE  ===================== */
.awareness__center-single .post-date {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.awareness__center-single .post-date .day {
  font-size: 80px;
  font-weight: bolder;
  color: var(--dark-light);
  margin-bottom: -20px;
}

.awareness__center-single .post-date .date {
  border-top: 3px solid var(--main-color);
  color: var(--main-color);
  font-size: 40px;
}

@media (max-width: 991px) {
  .awareness__center-single .post-date .day {
    font-size: 70px;
  }

  .awareness__center-single .post-date .date {
    font-size: 30px;
  }
}

/* ===================== INTERNAL PAGE ===> INITIATIVES DETAILS  ===================== */
.initiatives-details .card-title {
  font-size: 18px;
  font-weight: bold;
  color: var(--main-color);
}

.initiatives-details .card-text {
  color: var(--dark-light);
}

/* =====================  FOOTER  ===================== */
footer {
  background-color: var(--dark);
  color: var(--light);
  position: relative;
  padding: 20px 0;
  bottom: 35px;
}

footer a {
  text-decoration: none;
  color: var(--white);
  transition: 0.4s ease-in-out;
}

.footer-top {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  background-color: var(--dark);
  width: max-content;
  padding: 5px 40px;
}

.footer-top a {
  color: var(--light);
  transition: 0.3s ease-in-out;
  font-size: 16px;
}

.footer-top a:hover {
  color: var(--main-color);
}

.footer-bottom {
  border-top: 2px solid var(--light);
  padding-top: 30px;
}

.footer__bottom-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding-right: 15px;
  padding-left: 15px;
}

@media (max-width: 520px) {
  .footer-logo {
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

.footer-logo {
  font-size: 20px;
  font-weight: bold;
}

.footer-bottom h6 {
  font-weight: bold;
  margin-right: -14px;
  font-size: 15px;
}

.footer-bottom ul a {
  display: block;
  position: relative;
  font-size: 13px;
}

.footer-bottom ul a:hover {
  color: var(--main-color);
}

.footer-bottom ul a:hover::after {
  background-color: var(--main-color);
}

.footer-bottom ul a::after {
  content: "";
  position: absolute;
  right: -14px;
  top: 14px;
  width: 10px;
  height: 1px;
  background-color: var(--white);
}

/* =====================  GLOBAL  ===================== */
/*  PAGINATION  */
.pagination .page-item:first-child .page-link {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.pagination .page-item:last-child .page-link {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.page-link {
  color: var(--main-color);
}

.page-link:hover {
  color: var(--main-color);
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: var(--main-color);
  border-color: var(--main-color);
}
/* MY TITLES */
.section__title,
.section__title-2 {
  color: var(--green);
  font-weight: bold;
  font-size: 1.8rem;
  border-bottom: 4px solid var(--main-color);
  padding-bottom: 13px;
  margin-bottom: 40px;
}

@media (max-width: 991px) {
  .section__title,
  .section__title-2 {
    font-size: 1.4rem;
  }
}

.section__title-2 {
  text-align: center;
  border: none;
  position: relative;
}

.section__title-2::after {
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 70px;
  height: 4px;
  background-color: var(--main-color);
}

/* MY ANIMATIONS */
.animation-top-parent {
  position: relative;
  overflow: hidden;
  height: 485px;
}

.animation-top-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.animation-top {
  bottom: -174px;
  position: absolute;
  background-color: #edeaeaed;
  transition: 0.4s ease-in-out;
  width: 100%;
}

.animation-top-parent:hover .animation-top {
  bottom: 0;
}

@media (max-width: 1420px) {
  .animation-top {
    bottom: -195px;
  }
}

@media (max-width: 1199px) {
  .animation-top {
    bottom: -174px;
  }
}

@media (max-width: 991px) {
  .animation-top {
    bottom: -153px;
  }
}

@media (max-width: 767px) {
  .animation-top {
    bottom: -125px;
  }
}

@media (max-width: 426px) {
  .animation-top {
    bottom: -146px;
  }
}

@media (max-width: 320px) {
  .animation-top {
    bottom: -176px;
  }
}

@media (max-width: 280px) {
  .animation-top {
    bottom: -193px;
  }
}

/* MY BUTTONS */
.btn-green {
  max-width: 120px;
  margin-right: 12px;
  margin-left: 12px;
  background-color: var(--light);
  color: var(--green);
  font-weight: bold;
}

.btn-green:hover {
  background-color: var(--green);
  color: var(--light);
}

.btn-main {
  max-width: 120px;
  margin-right: 12px;
  margin-left: 12px;
  background-color: var(--light);
  color: var(--main-color);
  font-weight: bold;
}

.btn-main:hover {
  background-color: var(--main-color);
  color: var(--light);
}
